@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --purple: rgb(123, 31, 162);
    --violet: rgb(103, 58, 183);
    --pink: rgb(244, 143, 177);
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

@keyframes scale {

    from,
    to {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

h1>.magic {
    display: inline-block;
    position: relative;
}

h1>.magic>.magic-star {
    --size: clamp(20px, 1.5vw, 30px);

    animation: scale 700ms ease forwards;
    display: block;
    height: var(--size);
    left: var(--star-left);
    position: absolute;
    top: var(--star-top);
    width: var(--size);
}

h1>.magic>.magic-star>svg {
    animation: rotate 1000ms linear infinite;
    display: block;
    opacity: 0.7;
}

h1>.magic>.magic-star>svg>path {
    fill: var(--violet);
}

h1>.magic>.magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(to right,
            var(--purple),
            var(--violet),
            var(--pink),
            var(--purple));
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.nav {
    width: 98vw;
    padding: 30px;
    color: #333;
    font-weight: bolder;
    font-size: 2rem;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30;
}

h2 {
    font-weight: lighter;
    margin-top: 20px;
    overflow: hidden;
}

.footer {
    height: 100px;
}

p {
    max-width: 65%;
    margin-top: 40px;
}

.home {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 15px;
    padding-bottom: 0;
    position: relative;
    align-items: center;
    justify-content: center;
}

.home::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.home .home-text {
    text-align: center;
    position: relative;
    z-index: 2;
}

.home .home-text h1 {
    color: #333;
    font-size: 50px;
    line-height: 56px;
    font-weight: 600;
}

.home .home-text p {
    margin: 0;
    overflow: hidden;
}

.home .home-text p span {
    font-size: 20px;
    color: #4c2cff;
    font-weight: 700;
    display: inline-block;
    line-height: 46px;
    display: none;
}

.home .home-text p span.text-in {
    display: block;
    animation: textIn .5s ease;
}

.home .home-text p span.text-out {
    animation: textOut .5s ease;
}

.bottom {
    margin-top: 50px;
    text-align: center;
}

.errorBox {
    padding: 10px;
    margin: 3px;
    color: rgb(255, 70, 70);
    display: none;
}

button {
    margin: 10px;
    padding: 10px 15px;
    width: 400px;
    background-color: #4c2cff;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: large;
}

button:hover {
    cursor: pointer;
}

button:active {
    background-color: #2100dc;
}

.search {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: #f6f6f6;
}

.searchInput {
    width: 352px;
    font-size: 16px;
    color: #040404;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.searchInput::placeholder {
    color: rgba(0, 0, 0, 0.75);
}


@keyframes textIn {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes textOut {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-100%);

    }
}